@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-vazirmatn: "Vazirmatn", sans-serif;
  --font-vazirmatn-fd: "Vazirmatn-FD", sans-serif;
}

:root {
  font-family: var(--font-vazirmatn-fd);
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
